// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$marine-blue: #0081a7;
$teal: #00afb9;
$jasmine: #fdfcdc;
$peach: #fed9b7;
$salmon: #f07167;
$light-cyan: #D8EEF0;
$shadow: rgb(159, 203, 206);
// $shadow: rgba(0,0,0,0.2);
