<h3>Chose your class</h3>
<%= simple_form_for [@student, @students_group] do |f| %>
  <%= f.association :group, input_html: { class: "beautiful-dropdown" }, include_hidden: false %>
  <%= f.submit "Join Class", class: "our-btn btn-outline-marine" %>
<% end %>
