<div class="container mt-5 intro-text">
  <div style="text-align: center">
    <h3>You bring the brains, we’ll take care of everything else.</h3>
    <h1> The greatest learning experience, join us to discover more.</h1>
  </div>

  <div class="row mt-5">
    <div class="col-sm-6">
      <div style="padding: 2em">
        <h4>Making education personal!</h4>
        <p> The new era of education has arrived.
        Chose the teaching process that is tailored to your students needs.
      As you know them better than any education minister that sets the curriculum of. your subject.</p>
      </div>
    </div>

    <div class="col-sm-6">
        <div style="text-align: center; padding: 2em">
          <i class="far fa-address-card" style="font-size: 1200%  !important;" ></i>
        </div>
    </div>
  </div>

  <div class="row mt-5">
     <div class="col-sm-6">
        <div style="text-align: center; padding: 2em">
          <i class="fas fa-school" style="font-size: 1200% !important;" ></i>
        </div>
      </div>

      <div class="col-sm-6">
        <div style="padding: 2em">
          <div class="intro-text">
            <h4>PersEd is the time efficient solution!</h4>
            <p> Using our app is much faster than checking tons of paperwork delivered by your students in a traditional way. Just Sign Up and experience the convinience of working with your students online. </p>
          </div>
        </div>
      </div>
  </div>

  <div class="row mt-5">
    <div class="col-sm-6">
      <div style="padding: 2em">
        <h4>At PersEd, you can evaluate your students progress at ease!</h4>
        <p> We agregate the most and highlight the most important data on your students. All you need to do are the adjustments of the process. </p>
      </div>
    </div>

    <div class="col-sm-6">
      <div style="text-align: center; padding: 2em">
        <i class="fas fa-book-reader" style="font-size: 1200% !important;" ></i>
      </div>
    </div>
  </div>

  <div class="row mt-5">
     <div class="col-sm-6">
        <div style="text-align: center; padding: 2em">
          <i class="fas fa-rocket" style="font-size: 1200% !important;" ></i>
        </div>
      </div>

      <div class="col-sm-6">
        <div style="padding: 2em">
          <h4>At PersEd, you’ll be guided, step-by-step, so that you can boost your skills as a student!</h4>
          <p> From flashcards to help you learn French to games that make it easy to understand history, you can use a variety of tools to conquer any challenge. </p>
        </div>
      </div>
  </div>

</div>
