<div class="notification">
  <div>
    <i class="fas fa-clipboard-list" style="font-size: 36px; color: #fed9b7;"></i>
  </div>
  <div class="notification-content">
    <p><small><%= notification.created_at.strftime("%A, %d %B") %></small></p>
    <p><%= "#{notification.actor.teacher.first_name} #{notification.actor.teacher.last_name}" %> <strong>sent homework</strong><%= notification.object.due_date.nil? ? '' : notification.object.due_date.strftime(', due on %d/%m/%Y') %></p>
  </div>
  <div class="notification-actions">
    <%= link_to student_flashcard_set_path(notification.object.student_flashcard_sets.find_by(student: current_student)) do %>
      Solve <i class="fas fa-pencil-alt"></i>
    <% end %>
  </div>
</div>
