<div class="container">
  <h1>Edit the flashcard set's name</h1>

  <%= simple_form_for @flashcard_set do |f| %>
    <%= f.input :name %>
    <div>
      <%= f.button :submit, class: 'btn btn-dark' %>
      <%= link_to 'Cancel', flashcard_set_path(@flashcard_set), class: 'btn btn-outline-dark' %>
    </div>
  <% end %>
</div>
