<h1>FlashcardSets#edit</h1>
  <p>Find me in app/views/flashcard_sets/edit.html.erb</p>

    <%= simple_form_for @flashcard_set do |f| %>
            <%= f.input :name %>
            <%= f.button :submit, class: 'btn btn-primary' %>
          <% end %>
