<div class="container">
  <%= link_to "Hey #{current_teacher.first_name} add a new set here!",
  new_flashcard_set_path, class: 'btn btn-primary mb-3 mt-3' %>


    <div class="flashcard_sets_card">
      <div class="flashcard_sets_card_infos">
        <% @flashcard_sets.each do |fs| %>
          <%= link_to fs do %>
            <h2><%= fs.name %></h2>
          <% end %>
        </div>
      <% end %>
    </div>
  /<div>
