<h1>FlashcardSets#new</h1>
<p>Find me in app/views/flashcard_sets/new.html.erb</p>

<%= simple_form_for @flashcard_set do |f| %>
        <%= f.input :name %>
        <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>
