<div class="container mt-5">
  <h1>Homeworks</h1>
  <div class="row">
    <!-- <div class="col-12 col-md-6 col-lg-4">
      <div class="card flashcard_sets_card my-3">
        <h2>Create a new Homework</h2>

      </div>
    </div> -->
    <% @flashcard_homeworks.each do |homework| %>
      <div class="col-12 col-md-6 col-lg-4">
        <%= link_to flashcard_homework_path(homework), class: "flashcard-link" do %>
          <div class="card flashcard_sets_card flashcard-sets-card-grow my-3">
            <div class="flashcard_sets_card_infos">
              <h2><%= homework.name %></h2>
              <p><%= homework.group.class_name %></p>
              <p><%= homework.due_date.strftime("Due on %d/%m/%Y") %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
