.our-btn {
  font-family: Roboto;
  font-size: 16px;
  letter-spacing: 0.02em;
  text-align: center;
  padding: 6px 18px;
  border-radius: 5px;
  display: inline-block;
  &:hover {
    text-decoration: none;
  }
}

.btn-marine {
  background-color: $marine-blue;
  border: solid 1px $marine-blue;
  color: white;
  &:hover {
    background-color: #005E7A;
    border: solid 1px #005E7A;
    color: white;
  }
}

.btn-outline-marine {
  border: solid 1px $marine-blue;
  color: $marine-blue;
  &:hover {
    background-color: $marine-blue;
    color: white;
  }
}

.btn-marine-blocked {
  opacity: 0.5;
  &:hover {
    background-color: $marine-blue;
    border: solid 1px $marine-blue;
    color: white;
  }
}

.btn-teal {
  background-color: $teal;
  border: solid 1px $teal;
  color: white;
  &:hover {
    background-color: #008A91;
    border: solid 1px #008A91;
    color: white;
  }
}

.btn-outline-teal {
  border: solid 1px $teal;
  color: $teal;
  &:hover {
    background-color: $teal;
    color: white;
  }
}

.btn-peach {
  background-color: $peach;
  border: solid 1px $peach;
  color: black;
  &:hover {
    background-color: #FFCC9C;
    border: solid 1px #FFCC9C;
    color: black;
  }
}

.btn-salmon {
  background-color: $salmon;
  border: solid 1px $salmon;
  color: white;
  &:hover {
    background-color: #F0584D;
    border: solid 1px #F0584D;
    color: white;
  }
}

.txt-link-marine {
  color: $marine-blue;
  &:hover {
    color: #005E7A;
    text-decoration: none;
  }
}

// landing page class for centering the buttons on the banner:

.btn-landing {
  padding: 12px 20px;
}

.centered-btn {
  margin: 0 auto;
  margin-top:100px;
}

