.card {
  background: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  border-radius: 3px;
  padding: 16px;
  overflow: hidden;
}

.flashcard_sets_card {
  height: 250px;
}

.flashcard-sets-card-grow {
  transition: all .2s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
}

.flashcard_sets_card h2 {
  font-size: 20px;
  font-weight: bold;
}

.flashcard_sets_card p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.flashcard-link {
  text-decoration: none !important;
  color: black;
  &:hover {
    color: black;
  }
}

.card-horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 600px;
}

.card-horizontal-parcel {
  margin-right: 20px;
  p {
    margin: 0;
  }
}

.card-horizontal-center {
  flex-grow: 1;
  overflow: hidden;
}

.card-box {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 3px;
}

.card-box img {
  height: 100%;
  width: 120px;
  padding: 16px;
  object-fit: cover;
}

.card-box h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-box p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-box .card-box-infos {
  padding: 16px;
}

.notification {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background: white;
  padding: 8px 16px;
  border: 1px solid rgb(235,235,235);
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  border-radius: 3px;
}

.notification .notification-content {
  flex-grow: 1;
  padding: 0 24px;
}

.notification p {
  margin: 0;
  line-height: 1.4;
}

.notification small {
  color: #999999;
  font-weight: bold;
}
.notification .notification-actions {
  display: flex;
  transition: ease .3s;
}


.notification .notification-actions a {
  color: #999999;
  margin-left: 16px;
  font-size: 14px;
}

.notification .notification-actions a:hover {
  color: #555555;
}

