
.banner {
  background-size: cover;
  height: 85vh;
  background-position: center;
  padding: 150px 0;
  display: flex;
  flex-direction: column;

  .text-left {
    h1 {
      color: white;
    }
    h3 {
      color: white;
      text-shadow: 2px 2px 6px rgba(0,0,0,0.2);
      margin-top: 35px;
      font-family: Roboto;
    }
  }
  .text-right {

    h1 {
    color: black;
        }

    h3 {
    color: #D86767;
    text-shadow: 0.6px 0.6px 6px rgba(0,0,0,0.2);
    margin-top: 35px;
    font-family: Roboto;
    }
  }
}


.padding-kill {
  padding-left: 0px;
  padding-right: 0px;
}

.banner h1 {
  margin: 0;
  text-shadow: 3px 3px 6px rgba(0,0,0,0.2);
  font-size: 150px;
  font-weight: bold(0.4);
  font-family: 'Lora', serif;
  letter-spacing: 0.1em;
}


.banner h3 {
  font-size: 32px;
  color: white;
  text-shadow: 3px 3px 3px rgba(0,0,0,0.6);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}


.banner p {
  font-size: 150px;
  color: white;
  text-shadow: 0.1px 0.1px 0.1px rgba(0,0,0,0.2);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.04em;
}
.btn-1 {
  background: darken($red, 1.5%);
  font-weight: 100;
}

.btn-1:hover {
  background: rgba($red, 0);
  font-weight: 900;
  letter-spacing: 1px;
}

.customized-button-tchr {
  text-align: center;
  background-color: white;
  border-radius: 6px;
  width: 220px;
  font-family:Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 14px;
  display: flex-center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  padding: 10px;
}

.customized-button-std{
  font-color: white;
  text-align: center;
  background-color: #D86767;
  border-radius: 6px;
  width: 220px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 15px;
  font-size: 15px;
  line-height: 14px;
  display: flex-center ;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  padding: 10px;
  &:hover {
    color: black;
  }
}

.centered-btn {
  align-items: center;
  align-content: center;
  margin: 0 auto;
  margin-top:100px;
}

// 2nd Framework //

.intro-text {

  h1 {
    color: black;
    margin-top: 75px;
    text-shadow: 1px 1px 6px rgba(0,0,0,0.7);
    font-family:Roboto;

      }
  h3 {
    color: #D86767;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.5);
    font-family:Roboto;

  }
  h4{
      font-family:Roboto;
  }
  p{

  }
}




