.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  a {
    width: 100px;
  }
}


.btn-navbar-lewagon .navbar-brand .nav-link img {
  width: 55px;
}



.navbar-lewagon .navbar-brand img {
  width: 90px;
}

#logo-text {
  padding-top: auto;
}

.navbar-lewagon .navbar-brand p {
  padding-top: 20px;
}

.nav-item {
  display: inline-block;
  padding: 16px;
}

.navbar-light .navbar-nav .active > .nav-link {
  font-size: 14px;
  display: inline-block;
  padding: 10px;
  color: white;
}
